<section>
    <!-- Blogs content html and framework code part -->
    <div class="bb container-fluid mt-3 mb-5 py-4" style="background-color: #ff4644;">
        <div class="container  ps-5 text-center">
            <div id="jj" class=" fs-1 fw-semibold ps-5">
                <a class="fs-6 text-decoration-none text-white" href="index.html" target=""
                    rel="noopener noreferrer">Home </a>
                <span class="text-white fs-6"> / </span>
                <a class="text-decoration-none text-white fs-6" href="blogs.html" target=""
                    rel="noopener noreferrer">Blogs </a>
                <span class="text-white fs-6">/ Significance of effective communication</span>

            </div>
        </div>
    </div>


    <!-- Blog content and special effect -->
    <div class="container-fluid text-dark-mode2">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-lg-1 ps-5">
                    <div id="fixedShareDiv" class="social-icon2 position-fixed" style="margin-top: 7%;">

                        <div class="my-4 fs-4"><a href="https://www.facebook.com/Capsitechltd/" target=""
                                rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a></div>

                        <div class="my-4 fs-5"><a href="https://twitter.com/" target="" rel="noopener noreferrer"><i
                                    class="fa-brands fa-twitter"></i></a></div>

                        <div class="my-4 fs-5"><a href="https://www.linkedin.com/company/capsitech/" target=""
                                rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a></div>

                        <div class="my-4 fs-5"> <a href="https://www.instagram.com/capsitech_limited/" target=""
                                rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                    <h1 class="">Significance of effective communication</h1>
                    <div class="d-flex text-gray-500 my-3"><img src="../../../assets/assets/images/cap.png" alt="" width="20px"><span>
                            Capsitech | May 18,2020</span></div>
                    <img src="../../../assets/assets/images/significance-of-effective-communication.jpg" alt="">
                    <p class="lh-lg my-3">There is no denying the fact that effective communication is the key to ensure
                        the impactful
                        impression you as an individual can have on others and hence, this is one such skill that
                        everyone should possess. There are several misconceptions about the concept of communication and
                        we should clearly understand them in order to enhance our skills.</p>
                    <h1>Getting involved in a conversation</h1>
                    <p class="lh-lg">Usually, it is perceived that having the right communication is denoted by the
                        ability to speak
                        incessantly in order to display the confidence, this is the biggest blunder one can make. We
                        need to understand that an effective communication is about getting involved in the conversation
                        and responding to participate in the discussion and not just blabber.</p>
                    <p>Here are 8 quick points that we should follow in every conversation we have.</p>
                    <ol class="list-group-numbered">
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">It is imperative to listen to others when they speak and allow
                            them time to finish what they have to suggest. Frequent interjections is not only
                            unprofessional and rude but it also denotes the inability to comprehend.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">We should listen to understand and not simply hear for the
                            mere sake of formality, please keep in mind that every communication we establish and every
                            conversation we have teaches us something.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">It is of paramount importance to be humble and respectful
                            towards others. Our body language, eye contact, and subtle facial expressions, everything
                            plays a vital role here.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">To be able to respond, it is important for us to understand
                            the crux of the discussion and then present our views in a very gentle yet impactful manner.
                            Remember, the choice of words and the tone we use are the weapons we have here, we should
                            not use it roughly as the impact can be damaging for ourselves.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">The dogmatic behavior would never work, if you are an eloquent
                            and passionate speaker, others may apparently seem to be agreeing but this is an inaccurate
                            way, we should be open to ideas and open to learning and even if we do not agree, the way we
                            respond back should be reverential.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">The language we speak does not really matter as long as we are
                            fully participating in the conversation and have the ability to comprehend what is being
                            said and then respond. Language is just a tool to have an ideal conversation, it is never a
                            conversation in itself.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">It is absolutely fine not knowing something and even if we do
                            not, we can still participate in a conversation by listening, taking a deep cognizance of
                            the subject, responding through our body language, and acknowledging the others with a mild
                            smile of agreement.</li>
                        <li class="list-group-item lh-lg bg-transparent text-dark-mode2">Even the finest public speakers in the world have similar
                            opinion about the ability to have a good communication, they all somewhere suggest that we
                            should be enthusiastic to converse, inquisitive to learn, ready to listen, able to
                            understand and then eloquent enough to respond. Having good communication skills is all
                            about the amalgamation of the essentials.</li>
                    </ol>
                    <p class="lh-lg border-bottom">The aforementioned points can be followed and practiced, it may take
                        some time but we should understand that miracles don’t happen in a day. All we need to ensure is
                        that we continue learning and practicing and very soon, the difference will be noticeable and
                        every communication we have will be impactful.</p>

                    <div class="d-flex text-gray-500 my-3"><img src="../../../assets/assets/images/cap.png" alt="" width="20px"><span>
                            Capsitech | May 18,2020</span></div>

                    <div class="border-bottom pb-4">
                        <a class="general2 border px-3 py-1 text-decoration-none text-black" href="general.html"
                            target="" rel="noopener noreferrer">General</a>
                    </div>

                    <div>
                        <h3>Share Post</h3>
                        <div class="social-icon3 my-4">
                            <a href="https://www.facebook.com/Capsitechltd/" target="" rel="noopener noreferrer"><i
                                    class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://twitter.com/" target="" rel="noopener noreferrer"><i
                                    class="fa-brands fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/capsitech/" target="" rel="noopener noreferrer"><i
                                    class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/capsitech_limited/" target=""
                                rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                        <div>Note:<span class="fs-6 text-gray-500 lh-1">Please note that the content of the above blog
                                and the aforementioned information are solely for the purpose of awareness and are
                                informative in nature. The content is designed with intent to ease the understanding
                                while preserving the essence and importance of the compliance rules and shall not be
                                considered as an ultimate replication of the rules. Capsitech does not own any
                                responsibility whatsoever for any unpleasant event that may arise due to the
                                misinterpretation of a specific part or whole of the information.</span></div>
                    </div>


                </div>
                <div class="col-lg-1">
                    <!-- code to back to top button -->

                    <div id="back-to-top" class="position-fixed" style="margin-top: 19%;">
                        <a class="step btn btn-light btn-lg rounded-circle" href="#" role="button"><abbr
                                title="Back To Top"><i class="fa-solid fa-arrow-up fa-bounce fa-2xl"
                                    style="color: #ff4644;"></i></abbr></a>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <!-- You may also like card blogs html and framework code work  -->
    <div class="bg-slate-100 container-fluid text-dark-mode2">
        <div class="container my-5">
            <div class="row border-bottom">
                <div class="col-xs-12 col-sm-6 fw-semibold border-bottom">You may also like</div>
                <!-- <div class="col-xs-12 col-sm-6 text-end fw-semibold"><a class="text-decoration-none text-black" href="http://"
                        target="" rel="noopener noreferrer">View all</a></div> -->

            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col my-5">
                    <div class="card h-100">
                        <img src="../../../assets/assets/images/quick-tips-for-a-great-interview.jpg" class="card-img-top" alt="...">
                        <!-- <div class="bg-secondary-subtle rounded w-25 p-1 position-relative"
                            style="top: -5%; left: 10%;">General</div> -->
                        <div class="card-body">
                            <h5 class="card-title"><a class="hover-effect text-decoration-none text-black"
                                    href="http://" target="" rel="noopener noreferrer">5 Quick Tips for a Great
                                    Interview</a></h5>
                            <p>Interviews are one of the most important and unavoidable phases in a professional’s life.
                                There are several crucial…</p>
                            <p class="card-text mt-4"><a
                                    class="text-decoration-none border p-2 bg-red-500 text-green-50 hover:text-yellow-300"
                                    href="quick-tips-for-great-interview.html" target="" rel="noopener noreferrer">Read
                                    more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col my-5">
                    <div class="card h-100">
                        <img src="../../../assets/assets/images/coronavirus-risks-opportunities.jpg" class="card-img-top" alt="...">
                        <!-- <div class="bg-secondary-subtle rounded w-25 p-1 position-relative"
                            style="top: -5%; left: 10%;">General</div> -->
                        <div class="card-body ">
                            <h5 class="card-title"><a class="hover-effect text-decoration-none text-black"
                                    href="coronavirus-risk.html" target="" rel="noopener noreferrer">Coronavirus: Risks
                                    vs.
                                    Opportunities</a></h5>
                            <p>Introduction Amidst the horrifying pandemic we are all in, it is important for all of us
                                to stand…</p>
                            <p class="card-text mt-4"><a
                                    class="text-decoration-none border p-2 bg-red-500 text-green-50 hover:text-yellow-300"
                                    href="coronavirus-risk.html" target="" rel="noopener noreferrer">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

