<div class="container-fluid">
    <div class="container text-dark-mode2">
        <div class="px-lg-5 mt-lg-5 mt-md-4 mt-3">
            <h1 class="about_page_heading">Empowering Innovation,<br> Driving Excellence</h1>
            <p>Founded in the year 2014, Capsitech IT Services is one of the leading fintech companies in the city of
                Jodhpur, Rajasthan. The company offers a wide range of services through technical tools that are
                developed to ease the lives of customers and clients. From the world of accounting to the retail
                industry, the team at Capsitech has marked its presence in several sectors propelling the use of digital
                alternatives for faster, better, and pocket-friendly solutions.</p>
            <p class="mb-0">We invest in the ideas that can mitigate the existing problems in businesses and bridge the
                gap between demand and supply by creating the technical solutions that befit the requirements of the
                businesses. </p>
        </div>

        <div class="text-center mt-lg-5 mt-md-4 mt-3 clearfix">
            <img alt="Web Design &amp; Development Company in Jodhpur Rajasthan | Capsitech Institute of Technology | CIT Jodhpur"
                data-src="../../../assets/assets/images/team/teamgroup.svg"
                class="img-fluid lazyloaded"
                src="../../../assets/assets/images/team/teamgroup.svg"><noscript><img
                    class="img-fluid"
                    src="../../../assets/assets/images/team/teamgroup.svg"
                    alt="Web Design & Development Company in Jodhpur Rajasthan | Capsitech Institute of Technology | CIT Jodhpur"></noscript>
        </div>

        <div class="teams-page text-center clearfix ">
            <h2 class="about_page_heading mt-lg-5 mt-md-4 mt-3 mb-lg-5 mb-md-4 mb-4">Meet our Team</h2>
            <div class="row clearfix w-75 mx-auto">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  team-member ">
                    <img alt="Dave Jangid | Capsitech Institute of Technology | CIT Jodhpur"
                        data-src="../../../assets/assets/images/team/davejangid.svg"
                        class="img-fluid lazyloaded"
                        src="../../../assets/assets/images/team/davejangid.svg"><noscript><img
                            class="img-fluid"
                            src="../../../assets/assets/images/team/davejangid.svg"
                            alt="Dave Jangid | Capsitech Institute of Technology | CIT Jodhpur"></noscript>
                    <h6 class="mt-3 mb-0">Dave Jangid</h6>
                    <p style="margin-bottom: 0;">CEO</p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  team-member">
                    <img alt="Mohit Baheti | Capsitech Institute of Technology | CIT Jodhpur"
                        data-src="../../../assets/assets/images/team/mohitbaheti.svg"
                        class="img-fluid lazyloaded"
                        src="../../../assets/assets/images/team/mohitbaheti.svg"><noscript><img
                            class="img-fluid"
                            src="../../../assets/assets/images/team/mohitbaheti.svg"
                            alt="Mohit Baheti | Capsitech Institute of Technology | CIT Jodhpur"></noscript>
                    <h6 class="mt-3 mb-0">Mohit Baheti</h6>
                    <p style="margin-bottom: 0;">Chief Operating Officer</p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 team-member">
                    <img alt="Satya Narayan Jangid | Capsitech Institute of Technology | CIT Jodhpur"
                        data-src="../../../assets/assets/images/team/satyajangid.svg"
                        class="img-fluid lazyloaded"
                        src="../../../assets/assets/images/team/satyajangid.svg"><noscript><img
                            class="img-fluid"
                            src="../../../assets/assets/images/team/satyajangid.svg"
                            alt="Satya Narayan Jangid | Capsitech Institute of Technology | CIT Jodhpur"></noscript>
                    <h6 class="mt-3 mb-0">Satya Narayan Jangid</h6>
                    <p style="margin-bottom: 0;">Managing Director </p>
                </div>
            </div>

            <div class="row clearfix justify-content-center mt-5  mx-auto w-50">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 team-member">
                    <img alt="Mukesh Jangid | Capsitech Institute of Technology | CIT Jodhpur"
                        data-src="../../../assets/assets/images/team/mukeshjangid.svg"
                        class="img-fluid lazyloaded"
                        src="../../../assets/assets/images/team/mukeshjangid.svg"><noscript><img
                            class="img-fluid"
                            src="../../../assets/assets/images/team/mukeshjangid.svg"
                            alt="Mukesh Jangid | Capsitech Institute of Technology | CIT Jodhpur"></noscript>
                    <h6 class="mt-3 mb-0">Mukesh Jangid</h6>
                    <p style="margin-bottom: 0;">Chief Technical Officer</p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 team-member">
                    <img alt="Anand Vardhan Soni | Capsitech Institute of Technology | CIT Jodhpur"
                        data-src="../../../assets/assets/images/team/anandsoni.svg"
                        class="img-fluid lazyloaded"
                        src="../../../assets/assets/images/team/anandsoni.svg"><noscript><img
                            class="img-fluid"
                            src="../../../assets/assets/images/team/anandsoni.svg"
                            alt="Anand Vardhan Soni | Capsitech Institute of Technology | CIT Jodhpur"></noscript>
                    <h6 class="mt-3 mb-0">Anand Vardhan Soni</h6>
                    <p style="margin-bottom: 0;">Associate Director</p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Envisioning the future code part -->
<div id="about-nav" class="mx-auto border-top image-dark" style="background: url(../../../assets/assets/images/about-header-bg.webp);  background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center; height: 750px;">

    <div class="row container mx-auto h-75 mt-5">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start mt-5">
            <div class="fw-bold mt-5 fs-1">Envisioning the Future</div>
            <div class="fs-5 leading-loose">The working methodologies and conceptualization of ideologies at
                Capsitech IT Services are premised upon the effectual implementation of business strategies and
                protocols to ensure a leap in the trajectory of progress.</div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start">
            <img src="../../../assets/assets/images/Envisioning-the-Future.webp" alt="" width="100%" height="80%" data-tilt>
        </div>

    </div>


</div>


<!-- Technical proficiency html and framework code part -->
<div id="technical" class="container-fluid mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start" data-tilt>
                <!-- <div class="border mx-auto" > -->
                <img src="../../../assets/assets/images/Technical-Proficiency.webp" alt="" width="100%">
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start text-black mb-5">
                <div class="startup-content text-dark-mode2">
                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-semibold">Technical Proficiency</div>
                    <div class="fs-5 leading-loose">Our team has mastery in comprehending the business challenges
                        and then develop ideal solutions to ameliorate the business process by placing the technical
                        platform as a medium of increasing the productivity of the businesses processes.
                    </div>
                    <div class="fs-5 leading-loose">The technical team at Capsitech is skilled to develop technical
                        tools and mobile applications by using the latest technologies available. The intent of the
                        technical team is to develop solutions that are smooth, error-free, and easy to operate. The
                        technical team firmly follows the business requirements and develop the most efficacious
                        portals without compromising on any aspect of the overall business.
                    </div>
                </div>
            </div>

        </div>

        <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
    </div>
</div>

<!-- Research and Developmet html and framework code part -->
<div id="research" class="container-fluid pt-2 ">
    <div class="container my-5">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start text-black mb-5 pt-5">
                <div class="startup-content text-dark-mode2">
                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-semibold mb-2">Research and Development</div>
                    <div class="fs-5 leading-loose mb-2">Our research and development wing makes attempts to examine
                        the business processes and then identify the existing problems or sections that requires an
                        added technical support for better functioning.</div>
                    <div class="fs-5 leading-loose mb-2">We, at Capsitech, understand the significance of focusing
                        on meticulous details of a business before developing a solution for it and hence, a copious
                        amount of importance is given to the research wing.</div>
                    <div class="fs-5 leading-loose">In the course of the development of our products, the results
                        and the analysis made during the research phase plays the biggest role in determining the
                        development strategies for the technical team.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start" data-tilt>
                <!-- <div class="border mx-auto" > -->
                <img src="../../../assets/assets/images/Research-and-Development.webp" alt="" width="100%">
            </div>


        </div>

        <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
    </div>
</div>


<!-- Accounting management content html and framework code part -->
<div id="accounting" class="container-fluid pt-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start" data-tilt>
                <!-- <div class="border mx-auto" > -->
                <img src="../../../assets/assets/images/Standard-Management.webp" alt="" width="100%">
            </div>
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start text-black mb-5 pt-5">
                <div class="startup-content text-dark-mode2">
                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-semibold mb-2">Standard Management</div>
                    <div class="fs-5 leading-relaxed mb-2">Management is one of the biggest pillars of success for
                        us and we have a team of experienced management professionals who aspire to reach the
                        pinnacle of success while following the standard business protocols.</div>
                    <div class="fs-5 leading-relaxed ">
                        The management wing and Capsitech is capable of effectively handling multiple projects and
                        deliver astounding results in the desired time. From creating the prototypes of the web
                        solutions to executing and implementing the strategies in the most effective way, the teams
                        at Capsitech excel in every aspect of the business.
                    </div>
                </div>
            </div>



        </div>
        <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
    </div>
</div>

<!-- Explore the world of accounting html and framework code part -->
<div id="explore" class="container-fluid" style="background-color: #ff4644;">
    <div class="container">
        <div class="row">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start text-black mb-5 pt-5">
                <div class="startup-content text-white">
                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-bold mb-2">Explore the world of Accounting</div>
                    <div class="fs-5 leading-relaxed mb-2">Our expertise lies in the field of accounting and
                        creating next-generation online solutions to enhance the scope of the accounting world. We
                        have an adept team of accountants who diligently work hard to serve the clients and assist
                        the technical team in developing a quintessential solution for accountants and businesses.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start" data-tilt>
                <!-- <div class="border mx-auto" > -->
                <abbr title="Explore the world of Accounting | Capsitech"><img
                        src="../../../assets/assets/images/Explore-the-world-of-Accounting.webp" alt="" width="100%"></abbr>
            </div>
        </div>
        <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
    </div>
</div>

<!-- our commitment and our vision html and framework code -->
<div id="commit" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>

            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-5 text-start text-black mb-5 pt-5">
                <div class="startup-content text-dark-mode2">
                    <div class="icon12"></div>
                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-semibold mb-2">Our Commitment</div>
                    <div class="fs-5 leading-relaxed mb-2">Our commitment is to assimilate the business demands and
                        develop the solutions that can potentially ease the flow of business.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1"></div>

            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-5 text-start text-black mb-5 pt-5">
                <div class="startup-content text-dark-mode2">
                    <div class="icon13"></div>
                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-semibold mb-2">Our Vision</div>
                    <div class="fs-5 leading-relaxed mb-2">Our vision is to enhance the efficiency of businesses and
                        equip them with robust technical platforms capable of resolving major business challenges
                        and automating the convoluted processes.
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
    </div>
</div>