<!-- Blogs content html and framework code part -->
<div class="bb container-fluid mt-3 mb-5 py-5" style="background-color: #ff4644;">
  <div class="container text-center text-white">
    <h1 class="fw-bolder">Cookies Policy</h1>
    <!-- <p class="fs-5 w-75 mx-auto">We strive to create and publish articles that are educational and updates the readers about the latest trends in the industry. Follow us for insightful content.</p> -->
  </div>
</div>

<!-- Uses Of Cookie Code Content -->
<div class="mx-auto text-dark-mode2" style="width: 65%;">



  <ol class="list-group-numbered border-bottom">
    <h1>Our Use of Cookies</h1>
    <li class="list-group-item lh-lg">Our Site may place and access certain first party Cookies on your computer
      or device. First parties Cookies are those placed directly by us and are restricted to our use only. We
      use Cookies to facilitate and improve your experience of Our Site and to enhance our products and
      services. We have carefully chosen these Cookies and have taken steps to ensure that your privacy and
      personal data is protected and respected at all times.</li>
    <li class="list-group-item lh-lg">By using Our Site you may also receive certain third party Cookies on your
      computer or device. Third party Cookies are those placed by websites, services, and/or parties other
      than us. Third party Cookies are used on Our Site for conducting research and usage activities on our
      website. These Cookies are not integral to the functioning of Our Site and your use and experience of
      Our Site will not be impaired by refusing consent to them.</li>
    <li class="list-group-item lh-lg">All Cookies used by and on Our Site are used in accordance with current
      Cookie Law.</li>
    <li class="list-group-item lh-lg">Before Cookies are placed on your computer or device, you will be shown a
      pop-up message requesting your consent to set those Cookies. By giving your consent to the placing of
      Cookies you are enabling us to provide the best possible experience and service to you. You may, if you
      wish, deny consent to the placing of Cookies; however certain features of Our Site may not function
      fully or as intended.</li>
    <li class="list-group-item lh-lg">Certain features of Our Site depend on Cookies to function. Cookie Law
      deems these Cookies to be “strictly necessary”. Your consent will not be sought to place these Cookies,
      but it is still important that you are aware of them. You may still block these Cookies by changing your
      internet browser’s settings, but please be aware that Our Site may not work properly if you do so. We
      have taken great care to ensure that your privacy is not at risk by allowing them.</li>
    <li class="list-group-item lh-lg">Our Site uses analytics services provided by Google Analytics. Website
      analytics refers to a set of tools used to collect and analyse anonymous usage information, enabling us
      to better understand how Our Site is used. This, in turn, enables us to improve Our Site and the
      products and services offered through it. You do not have to allow Us to use these Cookies, however
      whilst Our use of them does not pose any risk to your privacy or your safe use of Our Site, it does
      enable Us to continually improve Our Site, making it a better and more useful experience for you.
      <table class="table table-striped text-dark-mode2">
        <thead>
          <th>Name of Cookie</th>
          <th>Purpose</th>
          <th> Strictly Necessary</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-dark-mode2">Google Analytics (_utma)</td>
            <td class="text-dark-mode2">This stores each user’s number of visits, and the time of the
              first visit, the previous
              visit, and the current visit</td>
            <td class="text-dark-mode2">Yes</td>
          </tr>
          <tr>
            <td class="text-dark-mode2">Google Analytics (_utmb)</td>
            <td class="text-dark-mode2">The utmb cookie calculates how long a visitor is on the site
              for. It takes a timestamp
              of the exact moment when a visitor enters the site and expires at the end of the
              session.</td>
            <td class="text-dark-mode2">Yes</td>
          </tr>
          <tr>
            <td>Google</td>
            <td>The utmc cookie takes a timestamp of the exact moment in time a</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>Analytics (_utmc)</td>
            <td>Visitor leaves the site. It waits 30 minutes, and then expires as it has no way of
              knowing when a user closes their browser or leaves the website, so it waits 30 minutes
              for another pageview to happen, and if it doesn’t, it expires.</td>
            <td>---</td>
          </tr>
          <tr>
            <td class="text-dark-mode2">Google Analytics (_utmz)</td>
            <td class="text-dark-mode2">The utmz cookie keeps track of where the visitor came from, what
              search engine was used,
              what link was clicked on, what keyword was used, and the geographical location when they
              accessed the website. It expires in 15,768,000 seconds – or, in 6 months.</td>
            <td class="text-dark-mode2">Yes</td>
          </tr>
        </tbody>

      </table>
    </li>


    <li class="list-group-item lh-lg">Contact and Lead Management</li>
    <li class="list-group-item lh-lg">Transparency in Communication
      <table class="table table-striped">
        <thead class="text-dark-mode2">
          <th>Name of Cookie</th>
          <th>First/Third Party</th>
          <th>Provider</th>
          <th> Purpose</th>
        </thead>
        <tbody class="text-dark-mode2">
          <tr>
            <td class="text-dark-mode2">(_utma)</td>
            <td class="text-dark-mode2">Third</td>
            <td class="text-dark-mode2">Google Analytics</td>
            <td class="text-dark-mode2">This store each user’s number of visits, and the time of the
              first visit, the previous
              visit, and the current visit.</td>
          </tr>
          <tr>
            <td>(_utmb)</td>
            <td>Third</td>
            <td>Google Analytics</td>
            <td>The utmb cookie calculates how long a visitor is on the site for. It takes a timestamp
              of the exact moment when a visitor enters the site and expires at the end of the
              session.</td>

          </tr>
          <tr>
            <td class="text-dark-mode2">(_utmc)</td>
            <td class="text-dark-mode2">Third</td>
            <td class="text-dark-mode2">Google Analytics</td>
            <td class="text-dark-mode2">The utmc cookie takes a timestamp of the exact moment in time a
              visitor leaves the site.
              It waits 30 minutes, and then expires as it has no way of knowing when a user closes
              their browser or leaves the website, so it waits 30 minutes for another page view to
              happen, and if it doesn’t, it expires.</td>

          </tr>
          <tr>
            <td>(_utmz)</td>
            <td>Third</td>
            <td>Google Analytics </td>
            <td>The utmz cookie keeps track of where the visitor came from, what search engine was used,
              what link was clicked on, what keyword was used, and the geographical location when they
              accessed the website. It expires in 15,768,000 seconds – or, in 6 months.</td>

          </tr>
        </tbody>

      </table>
    </li>
    <li class="list-group-item lh-lg">In addition to the controls that we provide, you can choose to enable or
      disable Cookies in your internet browser. Most internet browsers also enable you to choose whether you
      wish to disable all cookies or only third party Cookies. By default, most internet browsers accept
      Cookies but this can be changed. For further details, please consult the help menu in your internet
      browser or the documentation that came with your device.</li>
    <li class="list-group-item lh-lg">You can choose to delete Cookies on your computer or device at any time,
      however you may lose any information that enables you to access Our Site more quickly and efficiently
      including, but not limited to, login and personalization settings.</li>
    <li class="list-group-item lh-lg">It is recommended that you keep your internet browser and operating system
      up-to-date and that you consult the help and guidance provided by the developer of your internet browser
      and manufacturer of your computer or device if you are unsure about adjusting your privacy settings.
    </li>
  </ol>
  <div>
    <h3>Contacting Us</h3>
    <p>If you have any questions about Our Site or this Privacy Policy, please contact Us by email at
      info&#64;capsitech.com , by telephone on 0291 270 8500 , or by post at Shanti Anand, 23/305 Basement, C.H.B.
      Jodhpur - 342008 (Raj) INDIA. Please ensure that your query is clear, particularly if it is a request
      for information about the data we hold about you.</p>
  </div>
  <div>
    <h3>Changes to Our Privacy Policy</h3>
    <p>We may change this Privacy Policy from time to time (for example, if the law changes). Any changes will
      be immediately posted on Our Site and you will be deemed to have accepted the terms of the Privacy
      Policy on your first use of Our Site following the alterations. We recommend that you check this page
      regularly to keep up-to-date.</p>
  </div>



</div>