<section class="section-sm pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center d-flex flex-column justify-content-center mb-5">
                    <h1 class="page-not-found-title">Page Not Found</h1>
                    <img class="margin-auto border" src="https://cdn.dribbble.com/users/1138875/screenshots/4669703/404_animation.gif" alt="" srcset="">
                    <p class="mb-4">Oops. The page you're looking for doesn't exist.</p>
                    <a href="index-2.html" style="background-color: #ff4644;" class="btn px-4 fw-bold py-2 fs-5 rounded text-white">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>