<div class="container mt-4">

    <div class="w-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded mx-auto">

        <h2 class="text-center"> Login to author account </h2>

        <div class="col-6 mx-auto my-5">

            <input [(ngModel)]="author.email" type="text" class="form-control m-1" placeholder="email">
            <input [(ngModel)]="author.password" type="password" class="form-control m-1" placeholder="password">

            <button (click)="userlogin()" style="background-color: #ff4644;"
                class="btn px-4 fw-bold py-2 fs-5 rounded text-white">Login</button>


        </div>
    </div>

</div>