<!-- Let talk content html and framework code pard -->
<!-- style="background: url(../../../assets/assets/images/footer-bg.webp); background-size: cover; -->
<!-- background-repeat: no-repeat; " -->
<div id="contact-footer " class="container-fluid contact-footer-dark"
  style="background: url(../../../assets/assets/images/footer-bg.webp); background-repeat: no-repeat;  background-position: top; ">

  <!-- contact us html and framework part -->
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 col-sm-6 talk" style="margin-top: 10%;">
        <h4 class="text-yellow-300">Let's talk</h4>
        <h1 class="text-white fw-bold">Let's build something</h1>
        <h1 class="text-white fw-bold">awesome together!</h1>
      </div>
      <div class="col-xs-12 col-sm-6 contact-btn">
        <div style="margin-top: 40%;"></div>
        <a routerLink="/contact" target="" rel="noopener noreferrer">Contact us</a>
      </div>
    </div>
  </div>

  <!-- code for desktop footer list items using html and framework-->
  <div class="desktop-footer container py-5">
    <div class="row contact-info pt-5 mt-5">
      <div class="col-xs-12 col-sm-4 list1">
        <ul class="leading-loose">
          <li><img src="../../../assets/assets/images/capitech.webp" alt=""></li>
          <li class="line-gap">
            <div>We are a web development</div>
            <div>company specialized in creating</div>
            <div>websites,applications and software</div>
            <div>for audiences worldwide.</div>
          </li>
          <li class="social-icon">
            <a href="https://www.facebook.com/Capsitechltd/" target="" rel="noopener noreferrer"><i
                class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/" target="" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/capsitech/" target="" rel="noopener noreferrer"><i
                class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/capsitech_limited/" target="" rel="noopener noreferrer"><i
                class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 list2">
        <h3 style="margin: 0px 0px 20px 20px">Company</h3>
        <ul>
          <li><a routerLink="/home2" routerLinkActive="active-link" 
              class="text-dark-mode" target="" rel="noopener noreferrer">Home</a>
          </li>
          <li><a routerLink="/about" routerLinkActive="active-link" class="text-dark-mode" target=""
              rel="noopener noreferrer">About
              Us</a></li>
          <li><a routerLink="/services" routerLinkActive="active-link" class="text-dark-mode" target=""
              rel="noopener noreferrer">Services</a></li>
          <li><a routerLink="/career" routerLinkActive="active-link" class="text-dark-mode" target=""
              rel="noopener noreferrer">Career</a>
          </li>
          <li><a routerLink="/blogs" routerLinkActive="active-link" class="text-dark-mode" target=""
              rel="noopener noreferrer">Blogs</a>
          </li>
          <li><a routerLink="/contact" routerLinkActive="active-link" class="text-dark-mode" target=""
              rel="noopener noreferrer">Contact
              Us</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3  list3">
        <h3 style="margin: 0px 0px 40px 20px">Our Services</h3>
        <ul>
          <li><a routerLink="/services"  class="text-dark-mode" target="" rel="noopener noreferrer">Product
              Management</a>
          </li>
          <li><a routerLink="/services"  class="text-dark-mode" target="" rel="noopener noreferrer">Project
              Management</a>
          </li>
          <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">Accounting
              Solutions</a>
          </li>
          <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">IT
              Training</a></li>
          <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">Human
              Resource
              Outsourcing</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3  list4">
        <h3 class="mb-3">Contact Information</h3>
        <div class="address mb-4 pb-2 border-bottom">H-299, 3rd Phase,
          RIICO Industrial Area,
          Boranada, Jodhpur - 342012
          (Raj) INDIA
        </div>

        <div class="l4-email">
          <div>or email us on</div>
          <div class="email"><a class=" text-decoration-none font-semibold hover:text-red-500 text-dark-mode"
              href="mailto:hr@capsitech.com" target="" rel="noopener noreferrer"><i
                class="fa-solid fa-envelope me-1 "></i>hr&#64;capsitech.com</a>
          </div>
          <div class="gcse-search"></div>
        </div>
      </div>

    </div>
    <!-- <div class="row border border-danger">
                <div class="col-sm-11"></div>
                <div class="col-sm-1">

                    <div class=" border border-danger">
                        <div id="back-to-top" class="position-fixed h-25">
                            <a class="step btn btn-info btn-lg rounded-circle" href="#" role="button"><abbr
                                    title="Back To Top"><i class="fa-solid fa-arrow-up fa-bounce fa-2xl"
                                        style="color: #ff4644;"></i></abbr></a>
                        </div>
                    </div>
                </div>
            </div> -->
  </div>

  <!-- code for small device footer list items using html and framework  -->
  <div class="accordion accordion-flush container " id="accordionFlushExample"
    style="height: auto; margin-top: 15%; margin-bottom: 10%;">
    <div class="leading-loose">
      <ul class="mt-5 pt-5">
        <li><img src="../../../assets/assets/images/capitech.webp" alt=""></li>
        <li class="">
          <div>We are a web development company specialized in creating websites,applications and software
            for audiences worldwide.</div>

        </li>
        <li class="social-icon">
          <a href="https://www.facebook.com/Capsitechltd/" target="" rel="noopener noreferrer"><i
              class="fa-brands fa-facebook-f"></i></a>
          <a href="https://twitter.com/" target="" rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/capsitech/" target="" rel="noopener noreferrer"><i
              class="fa-brands fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/capsitech_limited/" target="" rel="noopener noreferrer"><i
              class="fa-brands fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Company
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body list2">
          <ul>
            <li><a routerLink="/" routerLinkActive="active-link" 
                class="text-dark-mode" target="" rel="noopener noreferrer">Home</a>
            </li>
            <li><a routerLink="/about" routerLinkActive="active-link" class="text-dark-mode" target=""
                rel="noopener noreferrer">About
                Us</a></li>
            <li><a routerLink="/services" routerLinkActive="active-link" class="text-dark-mode" target=""
                rel="noopener noreferrer">Services</a></li>
            <li><a routerLink="/career" routerLinkActive="active-link" class="text-dark-mode" target=""
                rel="noopener noreferrer">Career</a></li>
            <li><a routerLink="/blogs" routerLinkActive="active-link" class="text-dark-mode" target=""
                rel="noopener noreferrer">Blogs</a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link" class="text-dark-mode" target=""
                rel="noopener noreferrer">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Our Services
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body list3">
          <ul>
            <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">Product
                Management</a>
            </li>
            <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">Project
                Management</a>
            </li>
            <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">Accounting
                Solutions</a>
            </li>
            <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">IT
                Training</a></li>
            <li><a routerLink="/services" class="text-dark-mode" target="" rel="noopener noreferrer">Human
                Resource
                Outsourcing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Contact Information
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="address mb-4 pb-2 border-bottom">H-299, 3rd Phase,
            RIICO Industrial Area,
            Boranada, Jodhpur - 342012
            (Raj) INDIA</div>

          <div class="l4-email">
            <div>or email us on</div>
            <div class="email"><a class=" text-decoration-none font-semibold hover:text-red-500"
                href="mailto:hr@capsitech.com" target="" rel="noopener noreferrer"><i
                  class="fa-solid fa-envelope me-1"></i>hr&#64;capsitech.com</a></div>
            <div class="gcse-search"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<!-- copyright details html and framework code part -->
<div class="container-fluid" style="background-color: rgb(242, 242, 242)">
  <div class="container py-2">
    <div class="row fs-6">
      <div class=" col-xs-12 col-sm-7 my-2 text-gray-600">&copy Copyright All Rights Reserved
        2013-2023<span>|</span>Capsitech IT Services Private Limited</div>
      <div class="col-xs-12 col-sm-5 text-end text-gray-600 pt-1">Terms and
        Conditions<span>|</span>Cookies<span>|</span>Privacy Policy</div>
    </div>
  </div>
</div>
