    <!-- Comprhensice services html and framework code part-->
    <div id="compre" class="container-fluid py-5 image-dark" style="background: url(../../../assets/assets/images/service-header-bg.webp);  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center; height: 410px;">
        <div class="marquee">
            <div class="track">
                <div class="content fw-bolder fs-5" style="color: aliceblue;"><span style="color: #ff4644;">We Provide Services Like:-</span> Web Services || Product
                    Management || Project Management || Accounting Solutions || IT Training || Human
                    Resource Outsourcing. </div>
                
            </div>
        </div>
        <div class="container justify-center">
            <div class="text-center text-white pt-5">
                <h1 class="fw-bold">Comprehensive Services</h1>
                <div class="fs-5">We, at Capsitech, stand here not only to invest in innovative entrepreneurs' ideas but
                    we strive to
                    provide support to the growing businesses with our effective and technologically-advanced platforms
                    and the business mechanisms that befits their business requirements.</div>
            </div>
        </div>
    </div>


    <!-- Product management html and framework code part -->
    <div id="product" class="container-fluid pt-2">
        <div class="container my-5">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 text-start" data-tilt>
                    <!-- <div class="border mx-auto" > -->
                    <img src="../../../assets/assets/images/Product-Management.webp" alt="" width="100%">
                </div>
                <div class=" col-xs-12 col-sm-12 col-md-5 text-start text-black mb-5 pt-5">
                    <div class="startup-content text-dark-mode2">
                        <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                        <div class="fs-1 fw-semibold">Product Management</div>
                        <div class="fs-5 leading-loose">We aspire to comprehend the business requirements across
                            multiple business sectors and then work towards developing a comprehensive solution that
                            could be effectively used to ease the business process and digitalize the entire mechanism.
                        </div>
                    </div>
                </div>

            </div>

            <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
        </div>
    </div>

    <!-- Project management html and framework code part -->
    <div id="project" class="container-fluid pt-2">
        <div class="container my-5"
            style="background: url(../../../assets/assets/images/circle.webp); background-repeat: no-repeat; background-position: center;">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-6 text-start text-black mb-5 pt-5">
                    <div class="startup-content text-dark-mode2">
                        <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                        <div class="fs-1 fw-semibold">Project Management</div>
                        <div class="fs-4 leading-loose">We develop projects across various platforms and domains using
                            the latest technologies. We develop Web Applications, Websites, Desktop Applications,
                            Android, iOS, and Windows-based mobile applications.</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 text-start" data-tilt>
                    <!-- <div class="border mx-auto" > -->
                    <img src="../../../assets/assets/images/Project-Management.webp" alt="" width="100%">
                </div>


            </div>

            <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
        </div>
    </div>


    <!-- Accounting solution content html and framework code part -->
    <div id="accounting" class="container-fluid pt-2" style="background: url(../../../assets/assets/images/Accounting-Bg.webp);  background-position: center;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start">
                    <!-- <div class="border mx-auto" > -->
                    <img src="../../../assets/assets/images/Accounting.webp" alt="" width="100%" data-tilt>
                </div>
                <div class="text-dark-mode2 col-xs-12 col-sm-12 col-md-12 col-lg-6 text-start text-black mb-5 pt-5">

                    <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                    <div class="fs-1 fw-semibold">Accounting Solutions</div>
                    <div class="fs-5 leading-relaxed">At Capsitech, we believe in bridging the gap between demand
                        and
                        supply and our team leaves no stone unturned to design, develop, and deploy the most
                        suitable and effectual alternative to serving the needs of the businesses struggling with
                        the existing and traditional business mechanism.</div>
                    <div class="fs-5 leading-relaxed">
                        Through the years, we have come across the demands in the accounting industry and the kind
                        of dynamic solutions which are needed to address them, hence, we have developed a robust
                        mechanism that is useful for both businesses and clients in the UK. We provide end to end
                        accounting services and develop technical alternatives that can potentially ease the lives
                        of the accountants and uplift the working standards whilst propelling the technological
                        infrastructure to the next level.
                    </div>

                </div>



            </div>
            <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
        </div>
    </div>


    <!-- IT training content html and framework code part -->
    <div id="training" class="container-fluid pt-2">

        <div class="container my-5">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-6 text-start text-black mb-5 pt-5">
                    <div class="startup-content text-dark-mode2">
                        <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                        <div class="fs-1 fw-semibold">IT Training</div>
                        <div class="fs-4 leading-loose">Our prime concern is to deliver training that emphasizes on the
                            practical implementation of theoretical concepts. We train our candidates to equip them with
                            comprehensive knowledge and hands-on experience on various technologies.</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 text-start" data-tilt>
                    <!-- <div class="border mx-auto" > -->
                    <img src="../../../assets/assets/images/IT-Training.webp" alt="" width="100%">
                </div>


            </div>

            <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
        </div>
    </div>

    <!-- Human resource content html and framework code part  -->
    <!-- IT training content html and framework code part -->
    <div id="hr" class="container-fluid mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 text-start py-5 pe-5" data-tilt
                    style="background: url(../../../assets/assets/images/circle.webp); background-repeat: no-repeat; background-position: center; ">
                    <!-- <div class="border mx-auto" > -->
                    <img src="../../../assets/assets/images/Human-Resource-Outsourcing.webp" alt="" width="100%">
                </div>
                <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-5 text-start text-black mb-5 pt-5">
                    <div class="startup-content pt-5 text-dark-mode2">
                        <!-- <img src="../../../assets/assets/images/arrow-right.webp" alt=""> -->
                        <div class="fs-1 fw-semibold">Human
                            Resource Outsourcing</div>
                        <div class="fs-5 leading-relaxed">We undergo entire Talent Acquisition procedure to find the
                            best talents and on-demand, we provide Human Resource services to our clients only on
                            technical grounds. The hiring of employees can be done either on a Project basis or on a
                            monthly or hourly basis and allocation of employees are done as per aligning the
                            requirements with their expertise.</div>
                    </div>
                </div>



            </div>

            <!-- <div style="position: relative;  overflow: hidden;" >
                <img src="../../../assets/assets/images/tv.png" alt="" srcset="" width="80%">
                
            </div> -->
        </div>
    </div>